<create-lesson ng-if="vm.turn==1"></create-lesson>
<div class="usermanage">
  <h2 style="color: #448aff;text-align: center;"> DANH SACH BAN TIN </h2>
  <hr>
  <table class="table table-striped">
    <div class="dropdown">
      <a class="btn-top" style="margin-right: 15px;" href="/admin/createnews" class="btn btn-primary btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span> &nbsp Tao ban tin moi</a>
    </div>
    <thead>
      <tr class="row-name">
        <th>Ban tin Id</th>
        <th>Ten ban tin</th>
        <th>The loai</th>
        <th>Noi dung</th>
        <th>Luot like</th>
        <th>Binh luan</th>
        <th>Setting</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-content" ng-repeat="bantin in vm.bantin track by $index">
        <th>{{bantin.id}}</th>
        <th>{{bantin.tenbantin}}</th>
        <th>{{bantin.theloai}}</th>
        <th>{{bantin.noidung}}</th>
        <th></th>
        <th></th>
        <!--<th>{{lesson.vocabularyId}}</th>-->
        <td>
          <a class="btn btn-danger edit " aria-label="Settings ">
            <i class="fa fa-trash " aria-hidden="true "></i>
          </a> &nbsp
          <a class="btn btn-info edit " href="path/to/settings " aria-label="Settings ">
            <i class="fa fa-pencil-square-o " aria-hidden="true "></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
