<div class="unitmanage">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Tao ban tin moi</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput"> Ten ban tin</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" ng-model="vm.unit.name" placeholder="Ten ban tin" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">The loai</label>
        <div class="col-md-4">
          <input id="lastname" name="lastname" type="text" ng-model="vm.unit.title" placeholder="The loai" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Noi dung</label>
        <div class="col-md-4">
          <textarea name="lastname" type="text" ng-model="vm.grammar.example" placeholder="Noi dung" class="form-control input-md"></textarea>

        </div>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button id="button1id" name="button1id" class="btn btn-success" ng-click="vm.createunit()">Create</button>
          <button id="button2id" name="button2id" class="btn btn-danger" href="admin/unitmanage" ng-class="vm.turn==0?'active':''"
            ng-click="vm.turnActive(0)">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
