<div class="admin">
  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">ADMIN</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/admin/theloai">QUẢN LÝ THỂ LOẠI
              <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
            </a>
          </li>
          <li>
            <a href="/admin/bantin">QUẢN LÝ BẢN TIN
              <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
            </a>
          </li>
          <li>
            <a href="/admin/hinhanh">QUẢN LÝ HÌNH ẢNH
              <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span>
            </a>
          </li>
          <li>
            <a href="/admin/comment">QUẢN LÝ COMMENT
              <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-edit"></span>
            </a>
          </li>
          <li>
            <a href="/admin/user">QUẢN LÝ USER
              <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-edit"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="head">
    <div class="title">
      <span style="color:yellow;">NEWS</span> MARKER</div>
    <div class="admin-info">
      <h5>{{vm.name}}</h5>
    </div>
  </nav>
  <div class="main">

    <ui-view></ui-view>
  </div>

</div>
