<create-new ng-if="vm.turn==1"></create-new>
<div class="usermanage">
  <h2 style="color: #448aff;text-align: center;"> LIST NEWS </h2>
  <hr>
  <table class="table table-striped">
    <div class="dropdown">
      <a class="btn-top" style="margin-right: 15px;" ng-class="vm.turn==1?'active':''" ng-click="vm.turnActive(1)" href="#" class="btn btn-primary btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span> &nbsp Create New </a>
    </div>
</div>
<thead>
  <tr class="row-name">
    <th>Id</th>
    <th>Tên Thể loại</th>
    <th>Tên Ban tin</th>
    <th>Noi dung</th>
    <th>Settings</th>
  </tr>
</thead>
<tbody>
  <tr class="row-content" ng-repeat="x in vm.bantins track by $index">
    <td>{{x.Id}}</td>
    <td>{{x.Theloai}}</td>
    <td>{{x.Tenbantin}}</td>
    <td>{{x.Noidung}}</td>
    <td>
      <a class="btn btn-danger edit " ng-click="deleteBantin(x.id)" aria-label="Settings ">
        <i class="fa fa-trash " aria-hidden="true "></i>
      </a> &nbsp
      <a class="btn btn-info edit " href="path/to/settings " aria-label="Settings ">
        <i class="fa fa-pencil-square-o " aria-hidden="true "></i>
      </a>
    </td>
  </tr>
</tbody>
</table>
</div>
