/*LAYOUT*/
.backgroundLayout {
  width: 100%;
  height: 10%;
  z-index: -1;
  color: white !important; }

.pageContainer {
  font-family: Montserrat, sans-serif !important;
  font-weight: 600; }
  .pageContainer a {
    color: white !important; }
  .pageContainer .nav {
    margin-left: 17%; }
    .pageContainer .nav a:hover {
      background-color: #2D3033; }
  .pageContainer .navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important; }
  .pageContainer .header-container {
    color: white;
    background-color: #609194; }
  .pageContainer .dropdown-menu a {
    color: black !important; }
  .pageContainer .info-block {
    margin-left: 10px;
    margin-top: 10px; }
  .pageContainer .navbottom {
    background-color: white; }
    .pageContainer .navbottom .nav > li > a {
      color: black !important; }
    .pageContainer .navbottom .nav > li > a {
      text-transform: uppercase; }
    .pageContainer .navbottom .nav > li > a:hover {
      color: #0be6af;
      font-weight: bold;
      border-top: 2.5px solid #0be6af; }
    .pageContainer .navbottom .navbar-brand {
      color: black !important; }
    .pageContainer .navbottom .nav > ul > li {
      margin-top: 10px; }
  .pageContainer .signin {
    background-color: #333;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 50px; }
  .pageContainer .search {
    margin-bottom: 10px; }

.homepage {
  height: 90%;
  width: 100%; }

.hotnews {
  margin-top: 30px; }
  .hotnews .left-hotnews {
    width: 40%;
    float: left;
    margin-left: 12%;
    position: relative; }
    .hotnews .left-hotnews img {
      width: 90%;
      height: 750px; }
  .hotnews .right-hotnews {
    width: 40%;
    float: right;
    margin-right: 8%; }
    .hotnews .right-hotnews img {
      width: 90%;
      height: 375px; }
    .hotnews .right-hotnews .new-top {
      position: relative; }
  .hotnews .title-new {
    width: 90%;
    position: absolute;
    color: white;
    bottom: 0px;
    margin-bottom: 0px !important;
    padding: 0px 10px; }
    .hotnews .title-new h2 {
      font-size: 35px;
      font-weight: 700;
      color: white;
      word-break: break-word;
      white-space: pre-wrap; }
    .hotnews .title-new h2:hover {
      color: #0be6af; }

.container .thumbnail > img {
  width: 280px;
  height: 280px; }

.col-md-12 {
  margin-top: 30px; }

.col-md-3 {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px; }

/* The controlsy */
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px; }

.carousel-control.right {
  right: -12px; }

/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px; }

/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece; }

.carousel-indicators .active {
  background: #428bca; }

.bantin-theloai {
  width: 80%;
  margin-left: 10%; }

.unit {
  height: 90%;
  margin-top: 0%;
  font-family: Montserrat, sans-serif !important;
  /* remove outer padding */
  /*Remove rounded coners*/
  /* Add gap to nav and right windows.*/
  /*small/medium side display*/
  /* .....NavBar: Fully showing nav bar..... */ }
  .unit .main .row {
    padding: 0px;
    margin-left: 100px; }
  .unit .nav {
    margin-left: 5px !important; }
  .unit .navbar-inverse .navbar-nav > li > a:hover, .unit .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #A2D7D8; }
  .unit nav.sidebar.navbar {
    border-radius: 0px; }
  .unit nav.sidebar, .unit .main {
    transition: margin 200ms ease-out; }
  .unit .main {
    padding: 10px 10px 0 10px;
    width: 70%;
    float: right;
    font-style: normal;
    font-size: 13px;
    font-weight: 500; }
    .unit .main h5 {
      font-size: 16px !important;
      font-weight: 700;
      color: #337ab7;
      text-decoration: underline; }
    .unit .main #unit_name {
      font-family: Montserrat, sans-serif !important;
      font-weight: 700;
      color: #22517E;
      margin-left: 20%; }
    .unit .main .vocabulary, .unit .main .grammar {
      width: 80%;
      margin-left: 5%; }
    .unit .main .table {
      border: solid 1px #337ab7; }
      .unit .main .table thead {
        background: #337ab7;
        color: white !important; }
    .unit .main .table > tbody > tr > td, .unit .main .table > tbody > tr > th, .unit .main .table > tfoot > tr > td, .unit .main .table > tfoot > tr > th,
    .unit .main .table > thead > tr > td, .unit .main .table > thead > tr > th {
      text-align: center; }
  @media (min-width: 768px) {
    .unit {
      /*Allow main to be next to Nav*/
      /*Center Brand*/
      /*Center Brand*/
      /*Center Icons*/
      /*adds border top to first nav box */
      /*adds border to bottom nav boxes*/
      /* Colors/style dropdown box*/
      /*allows nav box to use 100% width*/
      /*colors dropdown box text */
      /*gives sidebar width/height*/
      /*give sidebar 100% width;*/
      /* Move nav to full on mouse over*/
      /*for hiden things when navbar hidden*/ }
      .unit nav.sidebar:hover {
        margin-left: 200px; }
      .unit nav.sidebar.navbar.sidebar > .container .navbar-brand, .unit .navbar > .container-fluid .navbar-brand {
        margin-left: 0px; }
      .unit nav.sidebar .navbar-brand, .unit nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px; }
      .unit nav.sidebar a {
        padding-right: 13px; }
      .unit nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid; }
      .unit nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid; }
      .unit nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
      .unit nav.sidebar .navbar-collapse, .unit nav.sidebar .container-fluid {
        padding: 0 0px 0 0px; }
      .unit .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777; }
      .unit nav.sidebar {
        width: 23%;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px; }
      .unit nav.sidebar li {
        width: 100%; }
      .unit nav.sidebar:hover {
        margin-left: 0px; }
      .unit .forAnimate {
        opacity: 0; } }
  @media (min-width: 1330px) {
    .unit {
      /*Show all nav*/
      /*Show hidden items on nav*/ }
      .unit nav.sidebar {
        margin-left: 0px;
        float: left; }
      .unit nav.sidebar .forAnimate {
        opacity: 1; } }
  .unit nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, .unit nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent; }
  .unit nav:hover .forAnimate {
    opacity: 1; }
  .unit section {
    padding-left: 15px; }

.admin {
  height: 100%;
  margin-top: 0%;
  /* remove outer padding */
  /*Remove rounded coners*/
  /* Add gap to nav and right windows.*/
  /* .....NavBar: Icon only with coloring/layout.....*/
  /*small/medium side display*/
  /* .....NavBar: Fully showing nav bar..... */ }
  .admin .main .row {
    padding: 0px;
    margin: 0px; }
  .admin .navbar-inverse .navbar-nav > li > a:hover,
  .admin .navbar-inverse .navbar-nav > li > a:focus,
  .admin .dropdown-menu > li > a:hover,
  .admin .dropdown-menu > li > a:focus {
    background-color: #A2D7D8; }
  .admin .head {
    background-color: #141D25;
    height: 60px; }
    .admin .head .title {
      float: left;
      margin-left: -225px;
      margin-top: 20px;
      color: white;
      font-family: Montserrat, sans-serif !important;
      font-weight: 700;
      font-size: 25px; }
    .admin .head .admin-info h5 {
      font-size: 14px;
      font-style: bold;
      float: right;
      color: white;
      margin-right: 50px;
      margin-top: 20px;
      font-family: Montserrat, sans-serif !important; }
  .admin .navbar-inverse {
    background-color: #141D25;
    border-color: #141D25;
    margin-top: 60px; }
  .admin .container-fluid {
    margin-top: 25%; }
  .admin nav.sidebar.navbar {
    border-radius: 0px; }
  .admin nav.sidebar,
  .admin .main {
    transition: margin 200ms ease-out; }
  .admin .main {
    padding: 10px 10px 0 10px;
    width: 70%;
    float: right; }
  @media (min-width: 768px) {
    .admin {
      /*Allow main to be next to Nav*/
      /*lets nav bar to be showed on mouseover*/
      /*Center Brand*/
      /*Center Brand*/
      /*Center Icons*/
      /*adds border top to first nav box */
      /*adds border to bottom nav boxes*/
      /* Colors/style dropdown box*/
      /*allows nav box to use 100% width*/
      /*colors dropdown box text */
      /*gives sidebar width/height*/
      /*give sidebar 100% width;*/
      /* Move nav to full on mouse over*/
      /*for hiden things when navbar hidden*/ }
      .admin .main {
        position: absolute;
        width: calc(100% - 40px);
        /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right; }
      .admin nav.sidebar:hover + .main {
        margin-left: 200px; }
      .admin nav.sidebar.navbar.sidebar > .container .navbar-brand,
      .admin .navbar > .container-fluid .navbar-brand {
        margin-left: 0px; }
      .admin nav.sidebar .navbar-brand,
      .admin nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px; }
      .admin nav.sidebar a {
        padding-right: 13px; }
      .admin nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid; }
      .admin nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid; }
      .admin nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
      .admin nav.sidebar .navbar-collapse,
      .admin nav.sidebar .container-fluid {
        padding: 0 0px 0 0px; }
      .admin .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777; }
      .admin nav.sidebar {
        width: 280px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px; }
      .admin nav.sidebar li {
        width: 100%; }
      .admin nav.sidebar:hover {
        margin-left: 0px; }
      .admin .forAnimate {
        opacity: 0; } }
  @media (min-width: 1330px) {
    .admin {
      /*Allow main to be next to Nav*/
      /*Show all nav*/
      /*Show hidden items on nav*/ }
      .admin .main {
        width: calc(100% - 200px);
        /*keeps 100% minus nav size*/
        margin-left: 25%; }
      .admin nav.sidebar {
        margin-left: 0px;
        float: left; }
      .admin nav.sidebar .forAnimate {
        opacity: 1; } }
  .admin nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
  .admin nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent; }
  .admin nav:hover .forAnimate {
    opacity: 1; }
  .admin section {
    padding-left: 15px; }

/*#endregion */
