html {
  height: 100%; }

body {
  height: 100%; }

.btn {
  background-color: #0be6af; }

/*LAYOUT*/
.backgroundLayout {
  width: 100%;
  height: 10%;
  z-index: -1;
  color: white !important; }

.container {
  width: 90%; }

#navbar-collapse-2 {
  width: 90%; }
  #navbar-collapse-2 ul > li {
    padding: 10px; }

.pageContainer {
  height: 100%;
  font-family: Montserrat, sans-serif !important;
  font-weight: 600;
  font-size: 14px;
  background-color: #f7f7f7; }
  .pageContainer .nav {
    margin-left: 17%; }
    .pageContainer .nav a:hover {
      background-color: #2D3033; }
  .pageContainer .navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important; }
  .pageContainer .header-container {
    color: white;
    background-color: #609194; }
  .pageContainer .dropdown-menu a {
    color: black !important; }
  .pageContainer .info-block {
    margin-left: 10px;
    margin-top: 10px; }
  .pageContainer .navbottom {
    background-color: white; }
    .pageContainer .navbottom .nav > li > a {
      color: black !important; }
    .pageContainer .navbottom .nav > li > a {
      text-transform: uppercase; }
    .pageContainer .navbottom .nav > li > a:hover {
      color: #0be6af;
      font-weight: bold;
      border-top: 2.5px solid #0be6af; }
    .pageContainer .navbottom .navbar-brand {
      color: black !important; }
    .pageContainer .navbottom .nav > ul > li {
      margin-top: 10px; }
  .pageContainer .signin,
  .pageContainer .register,
  .pageContainer .logout {
    background-color: #333;
    color: white;
    float: right;
    margin-top: 8px;
    margin-right: 50px; }
  .pageContainer .search {
    margin-bottom: 10px; }
  .pageContainer .slide-down {
    margin-left: 28% !important; }

.homepage {
  height: 90%;
  width: 100%; }

.hotnews {
  margin-top: 30px; }
  .hotnews .left-hotnews {
    width: 35%;
    float: left;
    margin-left: 15%;
    position: relative; }
    .hotnews .left-hotnews img {
      width: 90%;
      height: 750px; }
  .hotnews .right-hotnews {
    width: 35%;
    float: right;
    margin-right: 12%; }
    .hotnews .right-hotnews img {
      width: 90%;
      height: 375px; }
    .hotnews .right-hotnews .new-top {
      position: relative; }
  .hotnews .title-new {
    width: 90%;
    position: absolute;
    color: white;
    bottom: 0px;
    margin-bottom: 0px !important;
    padding: 0px 10px; }
    .hotnews .title-new h2 {
      font-size: 35px;
      font-weight: 700;
      color: white;
      word-break: break-word;
      white-space: pre-wrap; }
    .hotnews .title-new h2:hover {
      color: #0be6af; }

.container .thumbnail > img {
  width: 280px;
  height: 280px; }

.container .row {
  background-color: white; }
  .container .row img {
    width: 100%; }

.col-md-12 {
  margin-top: 30px; }

.col-md-3 {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px; }

/* The controlsy */
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px; }

.carousel-control.right {
  right: -12px; }

/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px; }

/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece; }

.carousel-indicators .active {
  background: #428bca; }

.bantin-theloai {
  width: 80%;
  margin-left: 10%; }

.newbantin {
  margin-top: 1%;
  width: 60%;
  height: 250px;
  display: inline-block;
  margin-left: 20%;
  border-bottom: 1px solid #888888;
  padding: 1.2%; }
  .newbantin img {
    width: 25%;
    height: 97%;
    float: left; }
  .newbantin .tomtatbt {
    width: 65%;
    float: right; }
    .newbantin .tomtatbt h4 {
      font-size: 24px;
      font-weight: bold; }

.unit {
  height: 90%;
  margin-top: 0%;
  font-family: Montserrat, sans-serif !important;
  /* remove outer padding */
  /*Remove rounded coners*/
  /* Add gap to nav and right windows.*/
  /*small/medium side display*/
  /* .....NavBar: Fully showing nav bar..... */ }
  .unit .main .row {
    padding: 0px;
    margin-left: 100px; }
  .unit .nav {
    margin-left: 5px !important; }
  .unit .navbar-inverse .navbar-nav > li > a:hover,
  .unit .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #A2D7D8; }
  .unit nav.sidebar.navbar {
    border-radius: 0px; }
  .unit nav.sidebar,
  .unit .main {
    transition: margin 200ms ease-out; }
  .unit .main {
    padding: 10px 10px 0 10px;
    width: 70%;
    float: right;
    font-style: normal;
    font-size: 13px;
    font-weight: 500; }
    .unit .main h5 {
      font-size: 16px !important;
      font-weight: 700;
      color: #337ab7;
      text-decoration: underline; }
    .unit .main #unit_name {
      font-family: Montserrat, sans-serif !important;
      font-weight: 700;
      color: #22517E;
      margin-left: 20%; }
    .unit .main .vocabulary,
    .unit .main .grammar {
      width: 80%;
      margin-left: 5%; }
    .unit .main .table {
      border: solid 1px #337ab7; }
      .unit .main .table thead {
        background: #337ab7;
        color: white !important; }
    .unit .main .table > tbody > tr > td,
    .unit .main .table > tbody > tr > th,
    .unit .main .table > tfoot > tr > td,
    .unit .main .table > tfoot > tr > th,
    .unit .main .table > thead > tr > td,
    .unit .main .table > thead > tr > th {
      text-align: center; }
  @media (min-width: 768px) {
    .unit {
      /*Allow main to be next to Nav*/
      /*Center Brand*/
      /*Center Brand*/
      /*Center Icons*/
      /*adds border top to first nav box */
      /*adds border to bottom nav boxes*/
      /* Colors/style dropdown box*/
      /*allows nav box to use 100% width*/
      /*colors dropdown box text */
      /*gives sidebar width/height*/
      /*give sidebar 100% width;*/
      /* Move nav to full on mouse over*/
      /*for hiden things when navbar hidden*/ }
      .unit nav.sidebar:hover {
        margin-left: 200px; }
      .unit nav.sidebar.navbar.sidebar > .container .navbar-brand,
      .unit .navbar > .container-fluid .navbar-brand {
        margin-left: 0px; }
      .unit nav.sidebar .navbar-brand,
      .unit nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px; }
      .unit nav.sidebar a {
        padding-right: 13px; }
      .unit nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid; }
      .unit nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid; }
      .unit nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
      .unit nav.sidebar .navbar-collapse,
      .unit nav.sidebar .container-fluid {
        padding: 0 0px 0 0px; }
      .unit .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777; }
      .unit nav.sidebar {
        width: 23%;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px; }
      .unit nav.sidebar li {
        width: 100%; }
      .unit nav.sidebar:hover {
        margin-left: 0px; }
      .unit .forAnimate {
        opacity: 0; } }
  @media (min-width: 1330px) {
    .unit {
      /*Show all nav*/
      /*Show hidden items on nav*/ }
      .unit nav.sidebar {
        margin-left: 0px;
        float: left; }
      .unit nav.sidebar .forAnimate {
        opacity: 1; } }
  .unit nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
  .unit nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent; }
  .unit nav:hover .forAnimate {
    opacity: 1; }
  .unit section {
    padding-left: 15px; }

.admin {
  height: 100%;
  margin-top: 0%;
  /* remove outer padding */
  /*Remove rounded coners*/
  /* Add gap to nav and right windows.*/
  /* .....NavBar: Icon only with coloring/layout.....*/
  /*small/medium side display*/
  /* .....NavBar: Fully showing nav bar..... */ }
  .admin .main .row {
    padding: 0px;
    margin: 0px; }
  .admin .navbar-inverse .navbar-nav > li > a:hover,
  .admin .navbar-inverse .navbar-nav > li > a:focus,
  .admin .dropdown-menu > li > a:hover,
  .admin .dropdown-menu > li > a:focus {
    background-color: #A2D7D8; }
  .admin .head {
    background-color: #141D25;
    height: 60px; }
    .admin .head .title {
      float: left;
      margin-left: -225px;
      margin-top: 20px;
      color: white;
      font-family: Montserrat, sans-serif !important;
      font-weight: 700;
      font-size: 25px; }
    .admin .head .admin-info h5 {
      font-size: 14px;
      font-style: bold;
      float: right;
      color: white;
      margin-right: 50px;
      margin-top: 20px;
      font-family: Montserrat, sans-serif !important; }
  .admin .navbar-inverse {
    background-color: #141D25;
    border-color: #141D25;
    margin-top: 60px; }
  .admin .container-fluid {
    margin-top: 25%; }
  .admin nav.sidebar.navbar {
    border-radius: 0px; }
  .admin nav.sidebar,
  .admin .main {
    transition: margin 200ms ease-out; }
  .admin .main {
    padding: 10px 10px 0 10px;
    width: 70%;
    float: right; }
  @media (min-width: 768px) {
    .admin {
      /*Allow main to be next to Nav*/
      /*lets nav bar to be showed on mouseover*/
      /*Center Brand*/
      /*Center Brand*/
      /*Center Icons*/
      /*adds border top to first nav box */
      /*adds border to bottom nav boxes*/
      /* Colors/style dropdown box*/
      /*allows nav box to use 100% width*/
      /*colors dropdown box text */
      /*gives sidebar width/height*/
      /*give sidebar 100% width;*/
      /* Move nav to full on mouse over*/
      /*for hiden things when navbar hidden*/ }
      .admin .main {
        position: absolute;
        width: calc(100% - 40px);
        /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right; }
      .admin nav.sidebar:hover + .main {
        margin-left: 200px; }
      .admin nav.sidebar.navbar.sidebar > .container .navbar-brand,
      .admin .navbar > .container-fluid .navbar-brand {
        margin-left: 0px; }
      .admin nav.sidebar .navbar-brand,
      .admin nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px; }
      .admin nav.sidebar a {
        padding-right: 13px; }
      .admin nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid; }
      .admin nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid; }
      .admin nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
      .admin nav.sidebar .navbar-collapse,
      .admin nav.sidebar .container-fluid {
        padding: 0 0px 0 0px; }
      .admin .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777; }
      .admin nav.sidebar {
        width: 280px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px; }
      .admin nav.sidebar li {
        width: 100%; }
      .admin nav.sidebar:hover {
        margin-left: 0px; }
      .admin .forAnimate {
        opacity: 0; } }
  @media (min-width: 1330px) {
    .admin {
      /*Allow main to be next to Nav*/
      /*Show all nav*/
      /*Show hidden items on nav*/ }
      .admin .main {
        width: calc(100% - 200px);
        /*keeps 100% minus nav size*/
        margin-left: 25%; }
      .admin nav.sidebar {
        margin-left: 0px;
        float: left; }
      .admin nav.sidebar .forAnimate {
        opacity: 1; } }
  .admin nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
  .admin nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent; }
  .admin nav:hover .forAnimate {
    opacity: 1; }
  .admin section {
    padding-left: 15px; }

.new-content {
  background-color: #f6f6f6; }
  .new-content p {
    font-size: 16px;
    font-weight: 500; }
  .new-content .content,
  .new-content .theloai,
  .new-content .comment {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    margin-bottom: 1px; }
    .new-content .content .newsName,
    .new-content .theloai .newsName,
    .new-content .comment .newsName {
      padding: 3%; }
      .new-content .content .newsName h2,
      .new-content .theloai .newsName h2,
      .new-content .comment .newsName h2 {
        margin: 0px !important;
        font-size: 36px;
        font-weight: bold; }
    .new-content .content .content-detail,
    .new-content .theloai .content-detail,
    .new-content .comment .content-detail {
      padding: 3%; }
      .new-content .content .content-detail .title,
      .new-content .theloai .content-detail .title,
      .new-content .comment .content-detail .title {
        font-size: 24px;
        font-weight: bold; }
    .new-content .content .detail-image,
    .new-content .theloai .detail-image,
    .new-content .comment .detail-image {
      text-align: center; }
      .new-content .content .detail-image img,
      .new-content .theloai .detail-image img,
      .new-content .comment .detail-image img {
        width: 60% !important;
        height: auto; }
      .new-content .content .detail-image .motaHinhanh,
      .new-content .theloai .detail-image .motaHinhanh,
      .new-content .comment .detail-image .motaHinhanh {
        padding: 3%;
        text-align: initial; }
  .new-content .theloai {
    height: 65px; }
    .new-content .theloai h2 {
      padding-left: 3%;
      padding-top: 1.5%;
      color: #0be6af;
      margin-top: 0px; }
  .new-content .tacgia {
    text-align: end;
    padding-right: 5%; }
    .new-content .tacgia h4 {
      font-weight: 600;
      font-style: italic; }
  .new-content .comment .comment-title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .new-content .comment img {
    margin: 32px 20px; }

.widget-area.blank {
  background: none repeat scroll 0 0 transparent;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

body .no-padding {
  padding: 0; }

.widget-area {
  background-color: #fff;
  border-radius: 4px;
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%; }

.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 4px;
  width: 100%; }

.status-upload form {
  float: left;
  width: 100%; }

.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize: vertical;
  outline: none;
  border: 1px solid #F2F2F2;
  overflow: hidden; }

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto; }

.status-upload ul > li {
  float: left; }

.status-upload ul > li > a {
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer; }

.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff; }

.status-upload form button {
  border: medium none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px; }

.dropdown > a > span.green:before {
  border-left-color: #2dcb73; }

.status-upload form button > i {
  margin-right: 7px; }

.col-md-6,
.one-comment-content {
  float: right;
  width: 70%;
  margin-right: 15%;
  margin-top: -30px;
  background-color: #f6f6f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.one-comment-content {
  height: 50px;
  border: 1px solid #606060;
  border-top: none; }
  .one-comment-content .one-comment-content-detail {
    float: right; }

.one-comment-content:first-child {
  margin-top: 30px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: #03658c;
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; }

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px; }

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400; }

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700; }

.comments-list {
  margin-top: 30px;
  position: relative; }

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0; }

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  border-radius: 50%; }

.reply-list:before,
.reply-list:after {
  display: none; }

.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px; }

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative; }

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0; }

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px; }

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%; }

.reply-list .comment-avatar {
  width: 50px;
  height: 50px; }

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both; }

.comment-main-level {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px; }

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px; }

.comment-box {
  width: 610px;
  margin-left: 20px; }

.comment-box .comment-head {
  background: #f4f4f4;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  border-radius: 4px 4px 0 0; }

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  transition: color 0.3s ease; }

.comment-box .comment-head i:hover {
  color: #03658c; }

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px; }

.comment-box .comment-name a {
  color: #283035; }

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px; }

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  border-radius: 0 0 4px 4px; }

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c; }

.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  border-radius: 3px; }

.comment-name by-author .a {
  color: #03658c !important; }

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px; }
  .comments-list .comment-box {
    width: 390px; }
  .reply-list .comment-box {
    width: 320px; } }

.usermanage {
  width: 100%;
  margin-left: -100px;
  font-weight: 400 !important; }
  .usermanage a.del {
    background: #d9534f;
    border-radius: 2px;
    width: 35px;
    height: 28px;
    padding-left: 12px;
    line-height: 10px; }
  .usermanage a.edit {
    padding-left: 10px;
    background: #337ab7;
    color: #fff;
    border-radius: 2px;
    border: none; }
  .usermanage tr.row-name {
    font-size: 18px;
    color: #448aff; }
  .usermanage tr.row-content {
    color: #6c7173; }
  .usermanage table {
    border-bottom: 8px solid #448aff;
    margin-top: 30px;
    width: 80%;
    margin-left: -20px;
    margin-right: 20px; }
  .usermanage td.check {
    text-align: center; }
  .usermanage .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F0F2F2 !important; }
  .usermanage a.btn-danger:hover {
    background: #de6c69; }
  .usermanage a.btn-danger {
    background: #d9534f; }
  .usermanage a.btn-top {
    background: #448aff;
    color: #fff;
    border: 1px solid #448aff;
    padding: 7px 10px;
    border-radius: 4px; }
  .usermanage a.btn-top:hover {
    text-decoration: none;
    box-shadow: 3px 3px 5px #222;
    transition: box-shadow 0.5s; }
  .usermanage .btn-success:hover {
    color: #fff;
    background-color: #141D25 !important;
    border-color: #448AFF !important; }
  .usermanage .btn-success {
    color: #fff;
    background-color: #448AFF;
    border-color: #448AFF; }
  .usermanage legend {
    height: 50px;
    font-size: 30px;
    color: #448AFF; }
  .usermanage #button1id {
    width: 100px; }
  .usermanage .row-content img {
    width: 50px; }

.unitmanage {
  margin-right: 25%; }

/*#endregion */
