html {
  height: 100%;
}

body {
  height: 100%;
}

.btn {
  background-color: #0be6af;
}

@import 'stylePages/layout';
@import 'stylePages/homepage';
@import 'stylePages/theloai';
@import 'stylePages/admin';
@import 'stylePages/newspage';
@import 'stylePages/admin.hinhanh';
@import 'stylePages/theloaidetail';

/*#endregion */
