<create-bantin ng-if="vm.turn==1">
</create-bantin>
<div class="usermanage">
  <h2 style="color: #448aff;text-align: center;"> LIST ẢNH </h2>
  <hr>
  <table class="table table-striped">
    <div class="dropdown">
      <a class="btn-top" style="margin-right: 15px;" ng-class="vm.turn==1?'active':''" ng-click="vm.turnActive(1)" href="#" class="btn btn-primary btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span> &nbsp Create New Image</a>
    </div>
</div>
<thead>
  <tr class="row-name">
    <th>Id</th>
    <th>Ảnh</th>
    <th>Mo ta</th>
    <th>Settings</th>
  </tr>
</thead>
<tbody>
  <tr class="row-content" ng-repeat="x in vm.hinhanhs track by $index">
    <td>{{x.Id}}</td>
    <td>
      <img src="{{x.Anh}}" style="width:20px; height:20px;">
    </td>
    <td>{{x.Mota}}</td>
    <td>
      <a class="btn btn-danger edit " ng-click="deleteHinhanh(x.id)" aria-label="Settings ">
        <i class="fa fa-trash " aria-hidden="true "></i>
      </a> &nbsp
      <a class="btn btn-info edit " href="path/to/settings " aria-label="Settings ">
        <i class="fa fa-pencil-square-o " aria-hidden="true "></i>
      </a>
    </td>
  </tr>
</tbody>
</table>
</div>
