.homepage {
  height: 90%;
  width: 100%;
}

.hotnews {
  margin-top: 30px;
  .left-hotnews {
    width: 45%;
    float: left;
    margin-left: 5%;
    img {
      width: 90%;
      height: 600px;
    }
  }
  .right-hotnews {
    width: 40%;
    float: right;
    margin-right: 5%;
    img {
      width: 90%;
      height: 300px;
    }
  }
}

.carousel-inner {
  width: 90%;
  /* margin-left: 5%; */
  height: 300px;
  margin: 5%;
}
