.new-content {
  background-color: #f5f5f5;
  p {
    font-size: 16px;
  }
  .content,
  .theloai {
    width: 70%;
    margin-left: 15%;
    background-color: white;
    .newsName {
      padding: 3%;
      h2 {
        margin: 0px !important;
        font-size: 36px;
        font-weight: bold;
      }
    }
    .content-detail {
      padding: 3%;
      .title {
        font-size: 24px;
        font-weight: bold;
      }
    }
    margin-bottom: 1px;
    .detail-image {
      text-align: center;
      img {
        width: 60% !important;
        height: auto !important;
      }
      .motaHinhanh {
        padding: 3%;
        text-align: initial;
      }
    }
  }
  .theloai {
    height: 50px;
    h2 {
      padding-left: 3%;
      padding-top: 1.5%;
      color: #0be6af;
    }
  }
  .tacgia {
    text-align: end;
    padding-right: 5%;
    h4 {
      font-weight: 600;
      font-style: italic;
    }
  }
}
