<div class="usermanage">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Create New Image</legend>
      <div class="form-group">
        <label class="col-md-4 control-label" for="coinspershift">Bantin Id</label>
        <div class="col-md-2">
          <input id="coinspershift" name="coinspershift" type="text" ng-model="vm.anhBantin.BantinID" placeholder="Ban Id" class="form-control input-md">

        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Link anh</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" ng-model="vm.anhBantin.Anh" placeholder="Title" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Mô tả</label>
        <div class="col-md-4">
          <textarea name="lastname" type="text" ng-model="vm.anhBantin.Mota" placeholder="Mô tả" class="form-control input-md"></textarea>

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Tên Tác giả</label>
        <div class="col-md-4">
          <textarea name="lastname" type="text" ng-model="vm.anhBantin.TenTacgia" placeholder="Tên Tác giả" class="form-control input-md"></textarea>

        </div>
      </div>


      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button id="button1id" name="button1id" class="btn btn-success" ng-click="vm.createHinhanh()">Create</button>
          <button id="button2id" name="button2id" class="btn btn-danger" ng-class="vm.turn==0?'active':''" ng-click="vm.turnActive(0)">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
