<div class="new-content">
  <div class="theloai">
    <h2>{{vm.theloai.TenTheloai}}</h2>
  </div>
  <div class="content">
    <div class="newsName">
      <h2>{{vm.bantin.TenBantin}}</h2>
    </div>
    <div class="content-detail">
      <p class="title">{{vm.bantin.Tieude}}</p>
      <p>{{vm.bantin.Noidung}}</p>
    </div>
    <div class="detail-image" ng-repeat="anhBantin in vm.bantin.Anh">
      <img src="{{anhBantin.Anh}}">
      <p class="motaHinhanh">{{anhBantin.Mota}}</p>
    </div>
    <div class="tacgia">
      <!-- <h4>*Photo by {{anhBantin[0].TenTacgia}}</h4> -->
      <h4>*Author {{vm.bantin.TenTacgia}}</h4>
    </div>
  </div>
  <div class="comment">
    <div class="comment-title">
      <img src="../../assets/images/chat.png">
      <h2>Comment</h2>
    </div>
    <div class="comment-content">
      <div class="row">
        <div class="col-md-6">
          <div class="user-avatar">
            <img src="../../assets/images/user.png">
          </div>
          <div class="widget-area no-padding blank">
            <div class="status-upload">
              <form>
                <textarea placeholder="Write comment"></textarea>
                <button type="submit" class="btn btn-success #0be6af">
                  <i class="fa fa-share"></i>Save</button>
              </form>
            </div>
            <!-- Status Upload  -->
          </div>
          <!-- Widget Area -->
        </div>

      </div>

    </div>
  </div>
  <div>

  </div>
</div>
